# Ignorar entornos virtuales
env/
venv/
.env
# Ignorar archivos pyc y cachés de Python
__pycache__/
*.py[cod]

# Ignorar archivos de migraciones cacheados
*.sqlite3

# Ignorar archivos de configuración de VSCode o IDE
.vscode/
.idea/
